{% extends 'base.html' %}

{% block body %}

<div class="form-container">
    <h1 class="form-heading">Update Password</h1>
    <form class="form">
        {{ form.hidden_tag() }}
        {{ form.password.label(class='form-label') }} 
        {{ form.password(class='form-input', id='password') }}
        {{ form.new_pw.label(class='form-label') }}
        {{ form.new_pw(class='form-input', id='new_pw') }}
        {{ form.confirm_pw.label(class='form-label') }}
        {{ form.confirm_pw(class='form-input', id='confirm_pw') }}
        {{ form.submit(class='submit-btn') }}
    </form>
</div> 

{% endblock %}