{% extends 'base.html' %}

{% block body %}

<div class="api-form-container">
    <header class="main-header">
        <div class="app-name-container invisible">
            <p class="app-name">Scramble API</p>
        </div>
        <div class="menu-container" onclick="toggleMenu(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div class="menu-options-container invisible">
            <a class="menu-option" href="{{url_for('users.account')}}">My Account</a>
            <form class="logout-form" action="{{url_for('users.logout')}}" method="post">
                <input class="logout-btn" type="submit" value="Logout">
            </form>
        </div> 
    </header>

    <div class="service-options-outer-container">
        <p>Service options</p>
        <div class="service-options-container">
            <a class="service-options-link" href="{{ url_for('core.hashing') }}">Hashing</a>
            <a class="service-options-link" href="{{ url_for('core.encryption') }}">Encryption</a>
        </div>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-text-container">
                <p class="footer-text">Scramble API created by sedex</p>
                <p class="footer-text">Follow the project or get involved on <a class="footer-link" href="https://github.com/sedexdev">Github</a></p>
            </div>
        </div>
    </footer>
</div>

{% endblock %}